
@model Appmrkt5.Models.AddProductImageViewModel

@{
    ViewData["Title"] = "Add Image";
}

<h4><strong>Agregar Imagen</strong></h4>


<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="AddImage" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i>
                </button>
                <a asp-action="Details" asp-route-id="@Model.ProductId" class="btn btn-success"><i class=" fas fa-undo-alt"></i></a>
            </div>
        </form>
    </div>
</div>
<hr />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


