@model Appmrkt5.Data.Entities.City

@{
    ViewData["Title"] = "AddCity";
}



<h4><strong>Agregrar Ciudad</strong></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCountry" />

            <partial name="_City" />

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i>
                </button>
                <a asp-action="Index" class="btn btn-success"><i class=" fas fa-undo-alt"></i></a>
            </div>
        </form>
    </div>
</div>

